<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Image form</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div th:insert="resources-navigation-menu"></div>

                <div class="form-container">
                    <form th:href="@{${href}}" method="post" enctype="multipart/form-data" th:object="${image}">
                        <div class="mb-5">
                            <span class="fs-4 text-body-secondary" th:text="${title}"></span>
                        </div>

                        <div th:if="${onEdit}">
                            <input type="hidden" th:field="*{displayPanels}">
                            <input type="hidden" th:field="*{fileName}">
                            <input type="hidden" th:field="*{audio}">
                            <input type="hidden" th:field="*{creator}">
                            <input type="hidden" th:field="*{creationDate}">
                        </div>

                        <div class="row mb-3">
                            <label for="title" class="col-form-label col-2">Title</label>
                            <div class="col-6">
                                <input id="title" class="form-control" type="text" name="title" autocomplete="off"
                                       th:value="*{title}" required>
                            </div>
                        </div>

                        <div th:if="${!onEdit}">
                            <div class="row mb-3">
                                <label for="imageFile" class="col-form-label col-2">Image file</label>
                                <div class="col-6">
                                    <input id="imageFile" class="form-control" type="file" name="imageFile"
                                           accept="image/*" required>
                                </div>
                            </div>
                        </div>

                        <div th:if="${!onEdit}">
                            <div class="row mb-3">
                                <label for="displayPanels" class="col-form-label col-2">Display panels</label>
                                <div class="col-6">
                                    <select id="displayPanels" class="form-select" name="displayPanels"
                                            multiple size="12" required>
                                        <optgroup th:each="displayPanel : ${displayPanels}"
                                                  th:label="${displayPanel.name + ' - ' + displayPanel.metaverse.name}">
                                            <option th:each="i : ${#numbers.sequence(0, displayPanel.images.size)}"
                                                    th:if="${i < displayPanel.type.capacity}"
                                                    th:text="'panel ' + ${(i / 2) + 1} + ' - ' + ${i % 2 == 0 ? 'front' : 'back'}"
                                                    th:value="${displayPanel.id}"
                                                    th:attr="imageIndex=${i}"
                                                    th:selected="${image.displayPanels != null
                                                && image.displayPanels.contains(displayPanel)}">
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div th:if="${!onEdit}">
                            <input type="hidden" id="imageIndexes" name="imageIndexes" value="">
                        </div>

                        <div th:if="${error != null}" class="mb-3">
                            <span class="error-message" th:text="${error}">Error occurred while creating an image</span>
                        </div>

                        <div class="col-2 mt-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('displayPanels').addEventListener('change', function() {
            let select = this;
            let selectedOptions = select.selectedOptions;

            let imageIndexes = [];

            for (let i = 0; i < selectedOptions.length; i++) {
                let option = selectedOptions[i];
                imageIndexes.push(option.getAttribute('imageIndex'));
            }

            document.getElementById('imageIndexes').value = imageIndexes;
        });
    </script>
</main>
</body>
</html>