<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Metaverses</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div>
                    <div id="metaverseNavigationMenu" class="row justify-content-around text-center bg-body-secondary">
                        <div class="col">
                            <span class="entity-item">
                                Metaverse
                            </span>
                        </div>
                    </div>
                </div>

                <div class="table-container">
                    <a sec:authorize="hasRole('CREATOR')"
                       class="btn btn-outline-primary" role="button" th:href="@{/metaverses/new}">
                        Create metaverse
                    </a>

                    <table class="table table-striped caption-top entities-table">
                        <caption class="fs-5">Metaverses:</caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Dimensions (meters)</th>
                            <th scope="col">Borders (meters)</th>
                            <th scope="col" sec:authorize="hasRole('CREATOR')">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="metaverse, iterStat : ${metaverses}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <th th:text="${metaverse.name}"></th>
                            <th>
                                <span th:text="'x: ' + ${metaverse.maxXDimension - metaverse.minXDimension}"></span>
                                <br>
                                <span th:text="'y: ' + ${metaverse.maxYDimension - metaverse.minYDimension}"></span>
                                <br>
                                <span th:text="'z: ' + ${metaverse.maxZDimension - metaverse.minZDimension}"></span>
                            </th>
                            <th>
                                <span th:text="'x dimension: from ' + ${metaverse.minXDimension}
                                    + ' to ' + ${metaverse.maxXDimension}">
                                </span>
                                <br>
                                <span th:text="'y dimension: from ' + ${metaverse.minYDimension}
                                    + ' to ' + ${metaverse.maxYDimension}">
                                </span>                                <br>
                                <span th:text="'z dimension: from ' + ${metaverse.minZDimension}
                                    + ' to ' + ${metaverse.maxZDimension}">
                                </span>
                            </th>
                            <th sec:authorize="hasRole('CREATOR')">
                                <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')
                                    || #authorization.expression('hasRole(''ROLE_CREATOR'')') && #authentication.name.equals(metaverse.creator.username)}">
                                    <a role="button" class="btn btn-link"
                                       th:href="@{'/metaverses/' + ${metaverse.id} + '/edit'}">
                                    <img th:src="@{/icons/pen.svg}" alt="edit icon" class="me-1">edit
                                    </a>
                                    <a role="button" class="btn btn-link"
                                        th:href="@{'/metaverses/' + ${metaverse.id} + '/delete'}">
                                    <img th:src="@{/icons/trash.svg}" alt="remove icon" class="me-1">remove
                                    </a>
                                </span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>