<div id="resourcesNavigationMenu" class="row justify-content-around text-center bg-body-secondary">
    <div class="col">
        <a class="entity-item" th:href="@{/resources/images}"
           th:classappend="${menuEntity == T(metacampus2.model.MenuEntity).IMAGE ?
                    'selected' : ''}">
            Image
        </a>
    </div>

    <div class="col">
        <a class="entity-item" th:href="@{/resources/texts}"
           th:classappend="${menuEntity == T(metacampus2.model.MenuEntity).TEXT ?
                    'selected' : ''}">
            Text
        </a>
    </div>

    <div class="col">
        <a class="entity-item" th:href="@{/resources/audios}"
           th:classappend="${menuEntity == T(metacampus2.model.MenuEntity).AUDIO ?
                    'selected' : ''}">
            Audio
        </a>
    </div>
</div>