<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Texts</title>
</head>
<body>
<main>
    <div id="mainContainer" class="container-fluid">
        <div class="row">
            <div id="categoryMenuContainer" class="col-2">
                <div th:insert="category-navigation-menu"></div>
            </div>
            <div class="col">
                <div th:insert="resources-navigation-menu"></div>

                <div class="table-container">
                    <a sec:authorize="hasRole('CREATOR')"
                       class="btn btn-outline-primary" role="button" th:href="@{/resources/texts/new}">
                        Create text
                    </a>

                    <table class="table table-striped caption-top entities-table">
                        <caption class="fs-5">Texts:</caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col">Title</th>
                            <th scope="col" class="col">File</th>
                            <th scope="col" class="col">Created</th>
                            <th scope="col" class="col">Last edit</th>
                            <th scope="col" sec:authorize="hasRole('CREATOR')">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="text, iterStat : ${texts}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <th th:text="${text.title}"></th>
                            <th th:text="${text.fileName}"></th>
                            <th th:text="${#temporals.format(text.creationDate, 'HH:mm dd-MM-yyyy')}"></th>
                            <th th:text="${text.lastEditDate != null ? #temporals.format(text.lastEditDate, 'HH:mm dd-MM-yyyy') : '-'}"></th>
                            <th sec:authorize="hasRole('CREATOR')">
                                <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')
                                    || #authorization.expression('hasRole(''ROLE_CREATOR'')') && #authentication.name.equals(text.creator.username)}">
                                    <a role="button" class="btn btn-link"
                                       th:href="@{'/resources/texts/' + ${text.id} + '/edit'}">
                                        <img th:src="@{/icons/pen.svg}" alt="edit icon" class="me-1">edit
                                    </a>
                                </span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>