<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Text panels</title>
</head>
<body>
    <main>
        <div id="mainContainer" class="container-fluid">
            <div class="row">
                <div id="categoryMenuContainer" class="col-2">
                    <div th:insert="category-navigation-menu"></div>
                </div>
                <div class="col">
                    <div th:insert="spaces-navigation-menu"></div>

                    <div class="table-container">
                        <a sec:authorize="hasRole('CREATOR')"
                           class="btn btn-outline-primary" role="button" th:href="@{/spaces/text-panels/new}">
                            Create text panel
                        </a>

                        <table class="table table-striped caption-top entities-table">
                            <caption class="fs-5">Text panels:</caption>
                            <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Metaverse</th>
                                <th scope="col">Coordinates</th>
                                <th scope="col">Text</th>
                                <th scope="col" sec:authorize="hasRole('CREATOR')">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="textPanel, iterStat : ${textPanels}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <th th:text="${textPanel.name}"></th>
                                <th th:text="${textPanel.metaverse.name}"></th>
                                <td th:text="'x: ' + ${textPanel.coordinates.x}
                                    + ', y: ' + ${textPanel.coordinates.y}
                                    + ', z: ' + ${textPanel.coordinates.z}"></td>
                                <th th:text="${textPanel.text != null ? textPanel.text.title : '-'}"></th>
                                <th sec:authorize="hasRole('CREATOR')">
                                    <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')
                                    || #authorization.expression('hasRole(''ROLE_CREATOR'')') && #authentication.name.equals(textPanel.creator.username)}">
                                        <a role="button" class="btn btn-link"
                                           th:href="@{'/spaces/text-panels/' + ${textPanel.id} + '/edit'}">
                                        <img th:src="@{/icons/pen.svg}" alt="edit icon" class="me-1">edit
                                        </a>
                                        <a role="button" class="btn btn-link"
                                           th:href="@{'/spaces/text-panels/' + ${textPanel.id} + '/delete'}">
                                            <img th:src="@{/icons/trash.svg}" alt="remove icon" class="me-1">remove
                                        </a>
                                    </span>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>